./NIsoMuon/limit_outputs/alpha/unblind/
./NIsoMuon/datacards_NIsoMuon/alpha/unblind/
./NIsoMuon/limit_outputs/alpha/blind/*/*.root
./NIsoMuon/limit_outputs/alpha/blind/*/*.json
./NIsoMuon/limit_outputs/alpha/blind/*/*.txt
./NIsoMuon/limit_outputs/alpha/blind/*/*.png
./NIsoMuon/limit_outputs/alpha/unblind/*/*.root
./NIsoMuon/limit_outputs/alpha/unblind/*/*.json
./NIsoMuon/limit_outputs/alpha/unblind/*/*.txt
./NIsoMuon/limit_outputs/alpha/unblind/*/*.png
./NIsoMuon/limit_outputs/alpha/blind/*/*.out
